<div class="contents">
  <div class="profile-header" style="">
    <div class="profile-center-box center-block">
      <div class="row">
        <%= image_tag('site_images/no_image_s.jpeg', class: 'mypage-user-img center-block') %>
      </div>
      <div class="row profile-info">
        <div class="row user-name">
          <%= current_user.user_name %>
        </div>
        <div class="row profile-text">
          こんにちは、私は社会人３年目のRailsプログラマーです。元気と精力が取り柄です！
          みなさんに愛と勇気を届けたいな！
        </div>
      </div>
    </div>
  </div>
</div>